html, body {
  width: calc(100vw - 20px);
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; }

.container {
  width: 90%;
  margin: 0 auto; }

.youget {
  text-align: center;
  background-color: #f4f4f4;
  height: 1581px; }

.section-title {
  font-family: 'Montserrat', sans-serif;
  color: #8d81ac;
  font-size: 31px;
  font-weight: 700;
  padding: 29px 40px 0px 33px; }
  .section-title::before {
    content: "<"; }
  .section-title::after {
    content: ">"; }

.offer {
  padding-top: 34px;
  font-family: 'Lato', sans-serif; }
  .offer__img {
    margin: 0 auto;
    display: block; }
  .offer__title {
    font-family: "Montserrat",sans-serif;
    color: #323232;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding-top: 29px; }
  .offer__text {
    font-family: "Lato",sans-serif;
    color: #848e97;
    font-size: 15px;
    width: 264px;
    line-height: 16px;
    margin: 0 auto;
    padding-top: 21px; }

.editor {
  width: 304px;
  display: block;
  padding-top: 57px; }

.persons {
  text-align: center;
  position: relative; }

.slide {
  margin-top: 70px;
  position: relative; }
  .slide__person {
    display: block;
    margin: 0 auto; }
  .slide__name {
    font-family: "Montserrat",sans-serif;
    color: #474747;
    font-size: 24px;
    font-weight: 700;
    padding-top: 25px; }
  .slide__nickname {
    color: #8d81ac;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-top: 5px; }
  .slide__discription {
    font-family: "Lato",sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    width: 170px;
    margin: 0 auto;
    line-height: 20px;
    padding-top: 23px; }
  .slide__time {
    font-family: "Montserrat",sans-serif;
    color: #023868;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-top: 16px;
    padding-bottom: 10px; }

.btn-next {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 30px; }
  .btn-next:hover {
    cursor: pointer; }

.btn-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 30px; }
  .btn-prev:hover {
    cursor: pointer; }
